@box_bg_lighter: #efefef;
@box_bg_light: #dedede;
@box_bg_dark: #5a5a5a;
@border_color: #c5c5c5;
@trail_bg: #e4dfd6;
@trail_fg: #333;
@trail_border: #c5c5c5;
@trail_step_previous_bg: #b5d5d8;
@trail_step_previous_fg: #32595c;
@trail_step_current_bg: #76c5cc;
@trail_step_current_fg: #5f5d5d;
@trail_step_next_bg: #b2ada7;
@trail_step_next_fg: #5f5d5d;
@trail_button_next_bg: #d66540;
@trail_button_next_fg: #4b2217;
@trail_button_next_border: #b65737;
@trail_button_next_hover_bg: #ff764c;
@trail_button_next_active_bg: #B55336;
@trail_button_next_shadow_fg: @trail_button_next_border;
@confirm_edit_bg: #d8d616;
@confirm_edit_fg: #3c3b06;
@confirm_edit_border: #bdbc13;
@confirm_edit_hover_bg: #EDE91A;
@confirm_edit_active_bg: #A3A011;
@confirm_edit_shadow_fg: @confirm_edit_border;
@button_draft_bg: #16c5d5;
@button_draft_fg: #305254;
@button_draft_border: #19b9c7;
@button_publish_bg: @trail_button_next_bg;
@button_publish_fg: @trail_button_next_fg;
@button_publish_border: @trail_button_next_border;

/*** trail ***/
/* see http://css-tricks.com/triangle-breadcrumbs/ */

#main-content,
#ae-petition-wizard-step-form {
    #edit-wizard-advanced {
        .vertical-tabs-panes {
            min-height: 30em;
        }
    }
    #edit-buttons {
        &.form-actions {
            border-top: none!important;
        }
        .button-finish, .button-finish-other {
            font-size: 1.2em;
            padding: 0.5em 1em;
            width: 15em;
            margin-right: 1em;
        }
        .button-finish-other {
            background: url("../images/sandbox_menu/ae_blue_bg.png") repeat scroll 0 0 transparent;
            border-color: #14B1BC;
            border-radius: 5px 5px 5px 5px;
            color: #305254;
            text-shadow: 1px 1px 1px #32DCE5;
            &:hover, &:focus {
                background: none repeat scroll 0 0 #18CBDB;
                border-color: #14ACB7;
                box-shadow: 0 0 1px #FFB196;
                color: #305254;
            }
            &:active {
                background: none repeat scroll 0 0 #0A565B;
                color: #063538;
                text-shadow: 1px 1px 1px #0B6368;
            }
        }
        #edit-next, .button-finish {
            background-color: @trail_button_next_bg;
            background-image: none;
            color: @trail_button_next_fg;
            border: 1px solid @trail_button_next_border;
            text-shadow: 1px 1px 0 @trail_button_next_shadow_fg;
            font-size: 1.2em;
            &:hover, &:focus {
                background-color: @trail_button_next_hover_bg;
            }
            &:active {
                background-color: @trail_button_next_active_bg;
            }
        }
    }
    #edit-wizard-head {
        background: @trail_bg;
        padding: 1em 20px 1em 20px; /* 30px from .limiter, 20px for overlay */
        margin:  1em -20px 1em -20px;
        height: auto;
        clear: both;
        overflow: auto;
        display: block;
        &:after {
            content: ".";
            display: block;
            clear: both;
            font-size: 0;
            height: 0;
            visibility: hidden;
        }
        #edit-buttons {
            width: 23%;
            margin: 0!important;
            padding: 0!important;
            float: right;
            clear: right;
            text-align: right;
            #edit-next {
                width: 8em;
                padding-right: 3em;
                background-image: url(../images/ae_pfeil.png);
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
        .wizard-trail-wrapper {
            width: 77%;
            float: left;
            clear: left;
            display: block;
            overflow: hidden;
        }
        .wizard-trail {
            background: @trail_bg;
            overflow: hidden;
            border: 1px solid @trail_border;
            display: inline-block;
            > span {
                float: left;
                min-width: 5em;
                &.wizard-trail-previous {
                    .inner {
                        color: @trail_step_previous_fg;
                        background: @trail_step_previous_bg;
                    }
                    .inner:after {
                        background: transparent url(../images/ae_step.png) no-repeat top left;
                        background-position: 100% -4px;
                    }
                }
                &.wizard-trail-current {
                    .inner {
                        color: @trail_step_current_fg;
                        background: @trail_step_current_bg;
                    }
                    .inner:after {
                        background: transparent url(../images/ae_step.png) no-repeat center right;
                    }
                }
                &.wizard-trail-next {
                    .inner {
                        color: @trail_step_next_fg;
                        background: @trail_step_next_bg;
                    }
                    .inner:after {
                        background: transparent url(../images/ae_step.png) no-repeat bottom right;
                        background-position: 100% -116px;
                    }
                }
                .inner {
                    padding: 10px 20px 10px 34px;
                    background: @trail_step_current_bg;
                    position: relative; 
                    display: block;
                    float: left;
                    background: transparent url(../images/ae_step.png) no-repeat bottom right;
                }
                &:first-of-type { /* first in trail */
                    .inner {
                        padding: 10px 10px 10px 20px;
                    }
                }
                &:last-of-type { /* last in trail */
                    .inner {
                        padding: 10px 20px 10px 34px;
                    }
                    .inner:after {
                        content: '';
                        display: none;
                        border: none;
                        background: none;
                    }
                    .inner:before {
                        border: none;
                    }
                }
                .inner:after { /* default */
                    content: " ";
                    display: inline;
                    width: 24px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    z-index: 1000;
                }
            }
        }
    }
}

/*** form ***/

#ae-petition-wizard-step-form {
    position: relative;
    width: 100%;
    fieldset {
        border: none!important;
        border-radius: 0px;
        .description {
            display: none;
        }
        &.fieldset.tiled .fieldset-content,
        .fieldset-content {
            background: transparent;
            padding: 1em 0 0 0 !important;
            fieldset.collapsible {
                background: #fff;
                margin-right: 1em;
                .fieldset-title {
                    background: #fff;
                    padding: 0!important;
                }
                legend, .fieldset-content {
                    background: #fff;
                    padding: 0.5em!important;
                }
                &.collapsed { legend { border: 2px solid @border_color!important;} }
                &:not(.collapsed) {
                    legend { border: 2px solid @border_color!important; border-bottom: none!important;}
                    .fieldset-content { border: 2px solid @border_color!important; border-radius: 0px; border-top: none!important; width: 100%;}
                }
                li { border: none!important; }

            }
        }
        legend {
            float: none;
            .fieldset-title {
                font-size: 1em;
                font-weight: normal;
                padding: 0 0 0.5em 0;
            }
        }
    }
    .form-item label:not(.itoggle) {
        font-size: 1em;
        font-weight: normal;
        padding: 0 0 0.5em 0;
    }
    #edit-title {
        font-size: 1.4em;
    }

    // floating
    .twothirds-left {
        display: inline-block;
        width: 65%;
    }
    .onethirds-right {
        display: inline-block;
        width: 30%;
        float: right;
        border: none;
        background: none;
        clear: right;
        padding: 0;
    }
    .half-left {
        display: inline-block;
        width: 50%;
    }
    .half-right {
        display: inline-block;
        width: 50%;
        float: right;
        clear: right;
    }

    // the forms
    #edit-thank-you-node {
        width: 100%;
        > .fieldset-content {
            border: 2px solid @border_color;
            background: @box_bg_lighter;
            padding: 1em!important;
            min-height: 20em;
        }
        #edit-node-form-title {
            font-size: 1.2em;
        }
        #edit-node-form-field-intro,
        #edit-node-form-field-flexible {
            display: none;
        }
        .form-item-type, .form-item-type2 {
            margin: 0 0 1em 0;
        }
    }
    #thank-you-outer-or {
        margin: 1em 0;
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
        .thank-you-line-or {
            border-top: 1px solid @border_color;
            box-shadow: 0 -1px 0 @border_color + #333;
            line-height: 1.2em;
            top: 0.85em;
            position: relative;
            display: inline-block;
            width: 100%;
        }
        .thank-you-text-or {
            font-style: italic;
            display: inline-block;
            top: -0.6em;
            position: relative;
            background: @box_bg_lighter;
            padding: 0 1em;
        }
    }
    #edit-node-form-field-share-light {
    }
    #edit-field-main-image,
    #edit-node-form-field-main-image {
        #field-main-image-add-more-wrapper .fieldset-content {
            border: 2px solid @border_color;
            background: @box_bg_light;
            padding: 1em!important;
        }
        a.button {
            float: left;
            margin: 10px 5px;
            display: block;
            &:first-child { clear:left; }
        }
        .form-item {
            clear: both;
        }
    }
    #edit-thank-you-email {
        > .fieldset-content {
            border: 2px solid @border_color;
            background: @box_bg_lighter;
            padding: 1em!important;
            min-height: 20em;
        }
        #edit-thank-you-email-subject-custom {
            font-size: 1.4em;
        }
    }
    #edit-confirm-container {
        border: 2px solid @border_color;
        background: @box_bg_lighter;
        padding: 1em!important;
        min-height: 30em;
        width: 100%;
        min-width: 30em;
        .form-wrapper {
            margin: 1em 0;
        }
        .confirm-edit-wrapper {
            width: 100%;
            display: block;
            padding: 1em 1em 1em 0;
            border-bottom: 1px dotted @trail_border;
            position: relative;
            clear: both;
            h2, p {
                padding-right: 12em;
            }
            h2 {
                font-size: 1.2em;
                text-transform: uppercase;
                font-weight: normal;
            }
            .confirm-edit-button {
                position: relative;
                background: @confirm_edit_bg;
                color: @confirm_edit_fg;
                border: 1px solid @confirm_edit_border;
                width: 10em;
                text-shadow: 1px 1px 0 @confirm_edit_shadow_fg;
                float:right;
                clear:right;
                &:hover, &:focus {
                    background-color: @confirm_edit_hover_bg;
                }
                &:active {
                    background-color: @confirm_edit_active_bg;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
        #edit-buttons {
            padding: 2em 0 5em 0;
        }
    }
}

/*** wysiwyg field ***/

#ae-petition-wizard-step-form {
    span.cke_skin_kama {
        .cke_wrapper {
            background: none;
            padding: 0;
            background: #fff;
        }
        .cke_top, .cke_bottom {
            background: @box_bg_light;
            padding: 5px;
        }
        .cke_contents {
            padding: 0.5em;
        }
        .cke_toolbox_collapser {
            border: none!important;
        }
        padding: 0!important;
        border-width: 2px;
    }

    .preview {
        float: left;
        min-width: 100px;
        min-height: 131px;
        padding: 6px 6px 2px;
        margin: 10px;
        border: 1px solid #ccc;
        background: #fff;
        background-image: url(../images/blank_preview.png);
        background-repeat: no-repeat;
        background-position: 6px 6px;
        * {
            padding: 0px;
            margin: 0px;
            border: none;
        }
        label {
            text-transform: none;
        }
    }
    .form-wrapper {
        margin-bottom: 2em;
    }
}
