
div.options-widget .draggable a.tabledrag-handle {
  padding-right: .3em /* RTL */
}

div.form-options fieldset.options {
  margin-bottom: 0;
}

div.options-widget a.add span,
div.options-widget a.remove span {
  display: none;
}

.div.options-widget .option-actions-cell a.add {
  display: none;
}

div.options-widget a.remove,
div.form-option-add a {
  display: block;
  width: 25px;
  height: 25px;
  margin: .2em 14px;
  background-repeat: no-repeat;
  background-position: center -1205px;
  float: left; /* RTL */
}


div.options-widget a.add:hover,
div.form-option-add a:hover {
  background-position: center -1245px;
}

div.options-widget a.add,
div.form-option-add a {
  background-image: url(../images/webform_icons.png);
}

div.options-widget a.remove {
  background-image: url(../images/webform_icons.png);
  background-position: center -1288px;
}

div.options-widget a.remove:hover {
  background-position: center -1328px;
}

div.default-value-pattern-match {
  float: left; /* RTL */
}

div.form-options-manual,
div.form-option-add {
  clear: both;
}

div.form-option-add a {
  float: right;
  display: block;
  width: 7em;
  padding: .5em .5em .2em 35px; /* RTL */
  background-position: 5px -1203px;
  font-weight: bold;
  background-color: #F5F1E8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #D3D0C9;
  
}

div.form-option-add a:hover {
  background-position: 5px -1243px;
}

div.form-options-manual a {
  font-weight: normal;
  
}

div.form-options-manual a:hover {
}


div.options-widget table {
  width: 100%;
  margin: 0;
}

div.options-widget table,
div.options-widget tbody {
  border: none;
}

div.options-widget table tr {
  border-style: none;
  background: none;
}

div.options-widget table td {
  padding: 4px 6px;
}

div.options-widget table td.option-default-cell {
  width: 6em;
  padding: 4px 0;
}

div.options-widget table td.option-order-cell {
  width: 2em;
}

div.options-widget table tr.indented td.option-order-cell {
  width: 4em;
}

div.options-widget table td.option-key-cell {
  width: 20%;
}

div.options-widget table td.option-actions-cell {
  width: 80px;
}

div.options-widget input.form-text {
  width: 100%;
}

/* random additions to fix the display */
#edit-options-options-field, .options textarea {
  display: inline;
}

.form-options-manual {
  padding-top: 1.5em;
}