h3 {
  font-size: 1rem;
}

.specs {
  margin-top: 2rem;
}

.spec {
  list-style: none;

  .card {
    padding: 0.8rem 1.2rem;

    .spec-info {
      width: calc(100% - 8rem);
      vertical-align: middle;
      display: inline-block;
    }

    .spec-label {
      font-weight: bold;
    }
  }

  .spec-error,
  .value-missing,
  .filter-missing {
    color: red;
  }
}

.filter-editor {

  .filters {
    margin-top: 1rem;

    .filter {
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
}

[dragula-handle] {
  display: inline-block;
  vertical-align: middle;
  width: 0.5rem;
  height: 1.3rem;
  margin-right: 0.5rem;
  border-left: 0.2rem solid #aaa;
  border-right: 0.2rem solid #aaa;
}

.gu-mirror .spec-notice, .gu-transit .spec-notice {
  display: none;
}
