/**
 * @file
 * Styles required for the basic functionality of the Form Builder interface.
 */

#form-builder-wrapper {
  overflow: hidden;
  padding: 10px 0;
}

#form-builder-wrapper h3.form-builder-title {
  margin: 0 0 1.5em 10px;
  text-transform: uppercase;
}

#form-builder-wrapper.with-palette #form-builder-fields {
  float: right;
  padding-left: 10px;
  width: 38%;
}

#form-builder-wrapper.with-palette #form-builder {
  float: none;
  margin-right: 40%;
  position: relative;
  border: 1px solid #D8D5CD;
  background: #EAE6DE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: .5em 4em .5em 1em;
}

#center #form-builder form,
#form-builder form {
  margin: 0;
}

#form-builder form.confirmation {
  padding: 10px;
}

div.form-builder-wrapper {
  padding: 1px;
  margin-top: 4px; /* Match this to the Sortable drag threshold option. */
  position: relative;
}

div.form-builder-element {
  margin: 4px 10px 4px 10px;
}

div.form-builder-hover {
  border: 1px dashed #999;
  padding: 0;
  background-color: #D6D2CB;
}

div.form-builder-active {
  padding: 0;
  border: 2px solid #D8D5CD;
  background-color: #F7F4ED;
}

div.form-builder-wrapper form {
/*  border-top: 1px dashed #999;*/
}

div.form-builder-element {
  position: relative;
}

div.form-builder-draggable,
div.form-builder-draggable input,
div.form-builder-draggable textarea,
div.form-builder-draggable label,
div.form-builder-draggable .grippie {
  cursor: move;
}

div.form-builder-clickable,
div.form-builder-clickable input,
div.form-builder-clickable textarea,
div.form-builder-clickable label,
div.form-builder-clickable .grippie {
  cursor: pointer;
}

div.form-builder-element .form-builder-disable {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

/* Empty fieldsets */
#form-builder fieldset {
}

fieldset.form-builder-empty-fieldset,
div.form-builder-empty-fieldset {
  overflow: hidden;
}

div.form-builder-empty-placeholder {
  text-align: center;
  color: #32595b;
  font-size:120%;
  font-weight: bold;
  overflow: hidden;
  min-height: 300px;

}

div.form-builder-empty-placeholder span {
  display: block;
  margin: 40px auto 20px;
  padding: 20px;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  background:none repeat scroll 0 0 #75C3CA;
  width: 80%;
}

/* Placeholders for drop position */
div.form-builder-placeholder {
  height: 60px;
  margin-top: -30px;
  position: absolute;
  width: 100%;
}

div.form-builder-placeholder-hover {
  margin: 0;
  position: relative;
  border: 1px dashed #999;
}

/* This affects the fieldset placeholder text on hover */
div.form-builder-placeholder-hover span {
  visibility: hidden;
}

/* The item being dragged */
#form-builder .ui-draggable-dragging {
  width: 100%;
}

/* Title bar for form builder items */
div.form-builder-title-bar {
  position: relative;
  z-index: 10;
  padding-top: 4px;
  height: 14px;
  margin-bottom: -18px;
  border-bottom: none;
}

div.ui-draggable div.form-builder-title-bar {
  display: none;
}

div.ui-draggable div.form-builder-title-bar {
  cursor: move;
}

span.form-builder-links {
  position: absolute;
  right: 0;
  top: -2px;
  z-index: 40;
}

div.form-builder-hover div.form-builder-title-bar,
div.form-builder-active div.form-builder-title-bar {
  display: block;
}

div.form-builder-hover div.form-builder-wrapper div.form-builder-title-bar,
div.form-builder-active div.form-builder-wrapper div.form-builder-title-bar {
  display: none;
}

span.form-builder-links a.remove,
span.form-builder-links a.configure {
  float: right;
  display: block;
  height: 1.7em;
  text-decoration: none;
  height: 19px;
  width: 16px;
  padding: 2px 3px;
  cursor: pointer;
  background-color: #D9D76C;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin-right: 7px;
  border:1px solid #BFBC5F;
}

span.form-builder-links a.remove span,
span.form-builder-links a.configure span {
  display: none;
}

span.form-builder-links a.remove, span.form-builder-links a.remove:active {
  background: url(../images/webform_icons.png) no-repeat center -691px #D9D76C;
  margin-right: 11px;

}

span.form-builder-links a.configure, span.form-builder-links a.configure:active {
  background: url(../images/webform_icons.png) no-repeat center -730px #D9D76C;
}

span.form-builder-links a.remove:hover,
span.form-builder-links a.configure:hover {
	background-color: #C6C363;
}

span.form-builder-links a.progress,
span.form-builder-links a.progress:hover {
  background: url('../images/ajax-loader-green.gif') no-repeat center center #C6C363;
}

/* Field form tabs */
#form-builder ul.form-builder-tabs {
  margin: 0;
  padding: .5em 0 0 4%;
  float: left; /* RTL */
  position: relative;
  display: block;
  width: 96%;
  background-color: #e4e0d7;
  border-top: 1px solid #dbd7cf;
  z-index: 1;
}

#form-builder ul.form-builder-tabs .fieldset-title {
	text-transform: none;
	font-size: 100%;
}
#form-builder ul.form-builder-tabs li {
  float: left; /* RTL */
  display: block;
  border-width: 0 0 0 0;
  border-color: #999;
  border-style: solid;
  margin: -1px -1px -1px 0px;
  list-style-type: none;
  list-style-image: none;
  background: #E4E0D7;
  cursor: pointer;
  z-index: 20;
  position: relative;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}

#form-builder ul.form-builder-tabs li.active {
  margin-left: 1px;
  border-left: 0px solid transparent;
  border-bottom: 1px solid #ffffff;
  background: #ffffff;
}

#form-builder ul.form-builder-tabs li span {
  padding: 10px 24px 6px;
  color: #464545;
  font-size: 100%;
}

#form-builder fieldset.form-builder-group {
  float: left; /* RTL */
  width: 100%;
  background-color: #fff;
  padding: 1.5em 1em;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 0px solid #CCC;
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}

#form-builder fieldset.form-builder-group .fieldset-wrapper {
	padding: 1.5em 4%;
	width: 90%;
	background: transparent none;
	border: 0px solid transparent;
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}

#form-builder fieldset.form-builder-group .fieldset-wrapper {
}

#form-builder fieldset.form-builder-group .form-item {
  padding: 0;
  margin: 0 0 10px;
}

#form-builder fieldset.form-builder-group .field-multiple-table .form-item.form-type-checkbox {
  float: left;
  margin-bottom: 0;
}

#form-builder-field-configure .form-submit {
  display: none;
}

#form-builder-field-configure a.close {
  border: none;
  margin: 0;
  font-size: 80%;
  float: right;
  padding: 6px 10px;
  position: absolute;
  right: 1em;
  z-index: 2;
  margin-top: .3em;
}

/* Weight and parents form */
form#form-builder-positions {
  display: none;
}

/* New fields block */
div.form-builder-new-field {
  padding: 10px 20px;
}

div.form-builder-new-field span.progress {
  padding-left: 16px;
  background: url('../images/ajax-loader.gif') no-repeat center left transparent;
}

#form-builder-field-palette .item-list {
  margin: 0 0 10px 0;
}

#form-builder-field-palette h3 {
  margin: 0;
}

#form-builder-field-palette ul.form-builder-fields {
  padding: 0;
}

#form-builder-field-palette ul li {
  list-style-type: none;
  margin: 2px;
  float: left;
  padding: 0;
  width: 32%;
  min-width: 11em;
  font-size: 100%;
  cursor: move;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#form-builder-field-palette ul li a {
  font-size: 12px;
  text-decoration: none;
  cursor: move;
  color: #666460;
  font-weight: bold;
  padding: .5em .5em .5em 32px;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #C4C1BA;
  background: url(../images/webform_icons.png) no-repeat 5px 200px #D8D5CD;

}

#form-builder-field-palette ul li a:hover,
#form-builder-field-palette ul li a:active {
  background-color: #D9D76C;
  border-color: #C4C162;
  text-decoration: none;
  cursor: move;
  color: #666460;
  font-weight: bold;
}

#form-builder-field-palette ul li.field-checkboxes a {
  background-position: 5px -923px;
}
#form-builder-field-palette ul li.field-date a {
  background-position: 5px -324px;
}
#form-builder-field-palette ul li.field-email a,
#form-builder-field-palette ul li.field-email_address a {
  background-position: 5px -404px;
}
#form-builder-field-palette ul li.field-fieldset a {
  background-position: 5px -523px;

}
#form-builder-field-palette ul li.field-file a {
  background-position: 5px -765px;

}
#form-builder-field-palette ul li.field-grid a {
  background-position: 5px -284px;
}
#form-builder-field-palette ul li.field-hidden a {
  background-position: 5px -964px;
}
#form-builder-field-palette ul li.field-image a {
  background-position: 5px 200px;

}
#form-builder-field-palette ul li.field-markup a {
  background-position: 5px -363px;

}
#form-builder-field-palette ul li.field-number a {
  background-position: 5px -243px;

}
#form-builder-field-palette ul li.field-pagebreak a {
  background-position: 5px -484px;

}
#form-builder-field-palette ul li.field-radios a {
  background-position: 5px -845px;

}
#form-builder-field-palette ul li.field-select a {
  background-position: 5px -443px;
}
#form-builder-field-palette ul li.field-time a {
  background-position: 5px -644px;

}
#form-builder-field-palette ul li.field-textarea a {
  background-position: 5px -203px;

}
#form-builder-field-palette ul li.field-textfield a {
  background-position: 5px -884px;
}

#form-builder-field-palette ul li.field-first_name a {
  background-position: 5px -603px;
}

#form-builder-field-palette ul li.field-last_name a {
  background-position: 5px -563px;
}

#form-builder-field-palette ul li.field-state  a {
  background-position: 5px -165px;
}

#form-builder-field-palette ul li.field-mobile_number  a {
  background-position: 5px -124px;
}

#form-builder-field-palette ul li.field-phone_number  a {
  background-position: 5px -5px;
}

#form-builder-field-palette ul li.field-country   a {
  background-position: 5px -43px;
}

#form-builder-field-palette ul li.field-donation_amount   a {
  background-position: 5px -1404px;
}
#form-builder-field-palette ul li.field-credit_card   a {
  background-position: 5px -1444px;
}
#form-builder-field-palette ul li.field-direct_debit   a {
  background-position: 5px -1482px;
}
#form-builder-field-palette ul li.field-online_banking   a {
  background-position: 5px -1522px;
}
#form-builder-field-palette ul li.field-transfer_form   a {
  background-position: 5px -1558px;
}
#form-builder-field-palette ul li.field-salutation   a {
  background-position: 5px -1595px;
}
#form-builder-field-palette ul li.field-donation_interval   a {
  background-position: 5px -1630px;
}

#form-builder-field-palette ul li.field-gender   a {
  background-position: 5px -1004px;
}
#form-builder-field-palette ul li.field-street_address   a {
  background-position: 5px -1044px;
}
#form-builder-field-palette ul li.field-zip_code a,
#form-builder-field-palette ul li.field-postcode a {
  background-position: 5px -1084px;
}

#form-builder-field-palette ul li.field-date_of_birth   a {
  background-position: 5px -1123px;
}
#form-builder-field-palette ul li.field-title  a {
  background-position: 5px -1163px;
}

#form-builder-field-palette ul li.field-city a {
  background-position: 5px -1362px;
}
#form-builder-field-palette ul li.field-direct_mail_newsletter a {
  background-position: 5px -84px;
}
#form-builder-field-palette ul li.field-email_newsletter a, #form-builder-field-palette ul li.field-newsletter a {
  background-position: 5px -923px;
}
#form-builder-field-palette ul li.field-comment a {
  background-position: 5px -1662px;
}
#form-builder-field-palette ul li.field-e2t_selector a {
  background-position: 5px -1696px;
}
#form-builder-field-palette ul li.field-currency a {
  background-position: 5px -1482px;
}


#edit-submit-button-text {
  padding: 0.5em 1.2em;
  border-radius: 5px 5px 5px 5px;
  width:50%;
  min-width: 20em;
  background: url("../images/sandbox_menu/ae_link_bg.png") repeat scroll 0 0 #787575;
  border: 1px solid #716E6E;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #F7F1F1;
  font-weight: bold;
  text-shadow: none;
}
#edit-submit-button-text:hover {
  cursor: text;
}
#edit-submit-button-text:active,
#edit-submit-button-text:focus {
  cursor: text;
  color: #666460;
  background-color: #FFFFFF;
}
.form-item-submit-button-text {
  width: auto;
  margin: -1em 4em 1.5em 0em;
  margin-right: 40%;
  padding: 1em;
  border: 1px solid #D8D5CD;
  background-color: #EAE6DE;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

.form-item-submit-button-text.form-active {
  border: 1px solid #D8D5CD;
  background-color: #F7F4ED;
}
.form-item-submit-button-text:hover {
  border: 1px solid #D8D5CD;
  background-color: #D6D2CB;
}
#form-builder .form-builder-placeholder-last {
  padding-bottom: 100px;
}


#form-builder-field-remove .form-layout-simple  {
  display: inline;
}

.form-builder-bottom-links {
  display: none;
}
