.webform-currency-table .option-list-table-header {
  padding: 4px 9px;
  text-align: left;
}

.webform-currency-table .option-list-label-available,
.webform-currency-table .option-list-label-key,
.webform-currency-table .option-list-label-label,
.webform-currency-table .option-key,
.webform-currency-table .option-label {
  display: inline-block;
  width: 30%;
  text-align: left;
}

.webform-currency-table .form-type-checkbox {
  float: left;
  width: 30%;
}

.webform-currency-table .option-key,
.webform-currency-table .option-label {
  line-height: 2;
}
